{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<style>
  #settings-btn {
    position: fixed;
    top: 90px;
    right: 15px;
    cursor: pointer;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance:textfield;
  }

  .camera {
    --status-bg: rgb(168, 151, 1);
    text-color: black !important;
    transition: box-shadow .15s, border-color .15s, background-color .15s;
  }
  .camera .card-header, .camera .btn {
    background: var(--status-bg);
    border-color: #212529;
  }
  .camera .form-control {
    border-color: var(--status-bg) !important;
  }
  .camera.problem-maybe {
    --status-bg: rgb(168, 151, 1);
  }
  .camera.problem-no {
    --status-bg: rgb(31, 95, 42);
  }
  .camera.problem-yes {
    --status-bg: rgb(95, 31, 31);
  }
</style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center d-none text-center fw-bold" id="connection-spinner">
  <div class="p-2">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div id="connection-spinner-text"></div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    {% for camera in cameras %}
    {% with last_reading=camera.get_last_reading settings=camera.get_settings_full %}
    <div class="col-sm-12 col-lg-4 camera problem-{% if last_reading.problem or last_reading.is_old %}yes{% elif last_reading.parameters_out_of_sync %}maybe{% else %}no{% endif %}" id="{{ camera.id }}">
      <div class="card mb-4 bg-dark border text-white border-dark">
        <a href="{% url 'camera_detail' camera.id %}" class="text-decoration-none">
          <div class="card-header text-center h5 text-decoration-none text-white">
            Камера {{ camera.name }}
          </div>
        </a>
        <div class="card-body">
          <table class="table table-dark">
            <tbody>
              <tr>
                <th>Текуща температура</span></th>
                <td class="temperature">{{ last_reading.temperature|floatformat:1 }}</td>
              </tr>
              <tr>
                <th>
                  Целева температура
                  <span data-bs-toggle="tooltip" data-bs-title="Дадената настройка не се е отбелязала" class="d-none not-in-sync-warning text-warning">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </span>
                </th>
                <td class="target_temperature">{{ settings.target_temperature|floatformat:1 }}</td>
              </tr>
              <tr>
                <th>Температура изпарител</th>
                <td class="evaporator_temperature">{{ last_reading.evaporator_temperature|floatformat:1 }}
                </td>
              </tr>
              <tr>
                <th>Влажност</th>
                <td class="humidity">{{ last_reading.humidity|floatformat:1 }}</td>
              </tr>

              <!--<tr class="temperature-temperature parameter">
                                <th class="">Температурни прагове:</th>
                                <td>
                                    <span id="temperature-low-{{ camera.id }}">{{ last_reading.temperature_low|floatformat:1 }}°C</span>
                                    &#8596;
                                    <span id="temperature-high-{{ camera.id }}">{{ last_reading.temperature_high|floatformat:1 }}°C</span>
                                </td>
                            </tr>-->
              <tr>
                <th>Захранващо напрежение</th>
                <td class="supply_voltage">{{ last_reading.supply_voltage|floatformat:1 }}</td>
              </tr>
              <tr>
                <th>Статус</th>
                <td class="status">{% if last_reading.is_old %}Няма връзка{% else %}{{ last_reading.get_status_display }}{% endif %}</td>
              </tr>
              <tr>
                <th>
                  Автоматичен режим
                  <span data-bs-toggle="tooltip" data-bs-title="Дадената настройка не се е отбелязала" class="d-none not-in-sync-warning text-warning">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </span>
                </th>
                <td>
                  <div class="form-check form-switch mb-2">
                    <input class="form-check-input auto_mode" type="checkbox" {% if settings.auto_mode %}checked{% endif %} autocomplete="off">
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Компресор
                  <span data-bs-toggle="tooltip" data-bs-title="Дадената настройка не се е отбелязала" class="d-none not-in-sync-warning text-warning">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </span>
                </th>
                <td>
                  <div class="form-check form-switch mb-2">
                    <input class="form-check-input compressor_on" type="checkbox" autocomplete="off"
                    {% if settings.auto_mode %}disabled {% if last_reading.compressor_on %}checked{% endif %}
                    {% else %} {% if settings.compressor_on %}checked{%endif%}
                    {% endif %} >
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Вентилация 
                  <span data-bs-toggle="tooltip" data-bs-title="Дадената настройка не се е отбелязала" class="d-none not-in-sync-warning text-warning">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </span>
                </th>
                <td>
                  <div class="form-check form-switch mb-2">
                    <input class="form-check-input ventilation_on" type="checkbox" autocomplete="off"
                    {% if settings.auto_mode %}disabled {% if last_reading.ventilation_on %}checked{% endif %}
                    {% else %} {% if settings.ventilation_on %}checked{%endif%}
                    {% endif %} >
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  Нагревател
                  <span data-bs-toggle="tooltip" data-bs-title="Дадената настройка не се е отбелязала" class="d-none not-in-sync-warning text-warning">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </span>
                </th>
                <td>
                  <div class="form-check form-switch mb-2">
                    <input class="form-check-input heater_on" type="checkbox" autocomplete="off"
                    {% if settings.auto_mode %}disabled {% if last_reading.heater_on %}checked{% endif %}
                    {% else %} {% if settings.heater_on %}checked{%endif%}
                    {% endif %} >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-dark thresholds" hidden>
            <thead>
              <th>Граници за наблюдение</th>
              <th>Ниска</th>
              <th>Висока</th>
            </thead>
            <tbody>
              <tr>
                <th>Температура</th>
                <td class="temperature_low editable">{{ settings.temperature_low }}</td>
                <td class="temperature_high editable">{{ settings.temperature_high }}</td>
              </tr>
              <tr>
                <th>Температура изпарител</th>
                <td class="evaporator_temperature_low editable">{{ settings.evaporator_temperature_low }}</td>
                <td class="evaporator_temperature_high editable">{{ settings.evaporator_temperature_high }}</td>
              </tr>
              <tr>
              <tr>
                <th>Влажност</th>
                <td class="humidity_low editable">{{ settings.humidity_low }}</td>
                <td class="humidity_high editable">{{ settings.humidity_high }}</td>
              </tr>
                <th>Захранващо напрежение</th>
                <td class="supply_voltage_low editable">{{ settings.supply_voltage_low }}</td>
                <td class="supply_voltage_high editable">{{ settings.supply_voltage_high }}</td>
              </tr>
            </tbody>
          </table>
          <!--<div class="temperature-control parameter mb-2">
            <div class="me-4 text-center">
              <label>Целева температура:</label>
              <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-danger btn-sm" id="dec-temp-{{ camera.id }}"
                  onclick="adjustTemp({{ camera.id }}, -1)">-</button>
                <input type="number" step="1"
                  value="{{ last_reading.target_temperature }}" class="form-control bg-dark text-white border mx-2"
                  style="width: 80px; text-align: center;" autocomplete="off">
                <button class="btn btn-danger btn-sm" id="inc-temp-{{ camera.id }}"
                  onclick="adjustTemp({{ camera.id }}, 1)">+</button>
              </div>
            </div>
          </div>
          <div>
            <label>Интензивност:</label>
            <div class="d-flex align-items-center">
              <button class="btn btn-danger btn-sm" id="dec-fan-{{ hall.id }}"
                onclick="adjustFanSpeed({{ hall.id }}, -1)" {% if hall.auto_mode %}disabled{% endif %}>-</button>
              <input type="number" step="1" min="0" max="3" id="fan-speed-{{ hall.id }}"
                value="{{ hall.fan_speed }}" class="form-control bg-dark text-white border-danger mx-2"
                style="width: 80px; text-align: center;" readonly {% if hall.auto_mode %}disabled{% endif %}>
              <button class="btn btn-danger btn-sm" id="inc-fan-{{ hall.id }}"
                onclick="adjustFanSpeed({{ hall.id }}, 1)" {% if hall.auto_mode %}disabled{% endif %}>+</button>
            </div>
          </div>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="ventilation-{{ hall.id }}" {% if hall.ventilation_on %}checked{% endif %} {% if hall.auto_mode %}disabled{% endif %}>
            <label class="form-check-label" for="ventilation-{{ hall.id }}">Външна вентилация</label>
          </div>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="uv-lamp-{{ hall.id }}" {% if hall.uv_lamp_on %}checked{% endif %} {% if hall.auto_mode %}disabled{% endif %}>
            <label class="form-check-label" for="uv-lamp-{{ hall.id }}">UV лампа (почистване на въздуха)</label>
          </div>
          <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" id="auto-mode-{{ hall.id }}" {% if hall.auto_mode %}checked{% endif %} onchange="toggleAutoMode({{ hall.id }})">
            <label class="form-check-label" for="auto-mode-{{ hall.id }}">Автоматичен режим</label>
          </div>
          <button id="update-hvac-btn-{{ hall.id }}" class="btn btn-danger mt-2" onclick="updateHVAC({{ hall.id }})"
            {% if hall.auto_mode %}disabled{% endif %}>Обнови настройки</button>
          -->
        </div>
        {% endwith %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

  let mutex = {};
  const cameraStateUrl = '{% url "camera_state" %}';

  setInterval(function() {

    fetch(cameraStateUrl).then(response => response.json()).then(data => {

      $('#connection-spinner').addClass('d-none');

      for (const [cameraId, cameraData] of Object.entries(data)) {

        const readingData = cameraData.last_reading;
        let $camera = $(`.camera#${cameraId}`);

        $camera.find('.not-in-sync-warning').addClass('d-none');
        for (const param of readingData.parameters_not_in_sync) {
          $camera.find(`.${param}`).closest('tr').find('.not-in-sync-warning').removeClass('d-none');
        }

        if (readingData.problem) {
          $camera.removeClass('problem-no problem-maybe');
          $camera.addClass('problem-yes');
        } else if (readingData.parameters_not_in_sync.length || readingData.status == 'Изключен') {
          $camera.removeClass('problem-yes problem-no');
          $camera.addClass('problem-maybe');
        } else {
          $camera.removeClass('problem-yes problem-maybe');
          $camera.addClass('problem-no');
        }

        for (const variable of [
          'temperature',
          'target_temperature',
          'evaporator_temperature',
          'humidity',
          'supply_voltage',
          'status',
        ]) {
          let value = readingData[variable];
          if (typeof(value) == 'number') {
            value = value.toFixed(1);
          }
          $camera.find(`.${variable}`).text(value);
        }

        if (cameraId in mutex) {
          if (
            (new Date() - mutex[cameraId] < 3000) ||
            (readingData.parameters_not_in_sync.length)
          ) {
            continue;
          } else {
            delete mutex[cameraId];
          }
        }

        const settings = cameraData.settings;
        if (settings.auto_mode) {
          $camera.find('.auto_mode').prop('checked', true);
          for (const variable of [
            'compressor_on',
            'ventilation_on',
            'heater_on'
          ]) {
            $camera.find(`.${variable}`).prop('checked', readingData[variable]).prop('disabled', true);
          }
        } else {
          $camera.find('.auto_mode').prop('checked', false);
          for (const variable of [
            'compressor_on',
            'ventilation_on',
            'heater_on'
          ]) {
            $camera.find(`.${variable}`).prop('checked', settings[variable]).prop('disabled', false);
          }
        }

      }

    }).catch(error => {
      console.error(error);
      $('#connection-spinner-text').text('Изгубена връзка със сървъра');
      $('.camera').removeClass('problem-maybe problem-no').addClass('problem-yes');
      $('.status').text('Няма връзка');
      $('#connection-spinner').removeClass('d-none');
    });

  }, 3000);

  $('.auto_mode').change(function() {
    const $camera = $(this).closest('.camera');
    $camera.removeClass('problem-yes problem-no');
    $camera.addClass('problem-maybe');
    const cameraId = $camera.prop('id');
    const autoMode = $(this).prop('checked');

    fetch(cameraStateUrl+`/${cameraId}`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        'auto_mode': autoMode
      })
    }).then(response => response.json()).then(data => {
      if (!autoMode) {
        $(this).closest('.camera').find('.compressor_on, .ventilation_on, .heater_on').prop('disabled', false);
      } else {
        $(this).closest('.camera').find('.compressor_on, .ventilation_on, .heater_on').prop('disabled', true);
      }
    }).catch(error => {
      console.error(error);
      delete mutex[cameraId];
    });
    $camera.find('.auto_mode').closest('tr').find('.not-in-sync-warning').removeClass('d-none');
    mutex[cameraId] = new Date();
  });


  $('.compressor_on, .ventilation_on, .heater_on').change(function(e) {
    const el = $(e.target);
    const cls = el.attr('class').split(/\s+/).find(c => ['compressor_on', 'ventilation_on', 'heater_on'].includes(c));
    let $camera = $(this).closest('.camera');
    $camera.removeClass('problem-yes problem-no');
    $camera.addClass('problem-maybe');
    const cameraId = $camera.prop('id');
    if ($(this).closest('.camera').find('.auto_mode').prop('checked')) return;
    fetch(cameraStateUrl+`/${cameraId}`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        [cls]: $(this).prop('checked')
      })
    }).catch(error => {
      console.error(error);
      delete mutex[cameraId];
    });
    $camera.find(`.${cls}`).closest('tr').find('.not-in-sync-warning').removeClass('d-none');
    mutex[cameraId] = new Date();
  });
</script>
{% endblock %}