{% extends "base.html" %}
{% load tz %}
{% block content %}
<div class="container mt-4">
    <h2>Лог команди към HVAC</h2>
    <!-- <p>Можете да използвате тези данни за о</p> -->
    <table style="background-color: gray;" class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Зала</th>
            <th>Таргет темп.</th>
            <th>Интензивност</th>
            <th>UV лампи</th>
            <th>Вентилация</th>
            <th>Цена (1/ефективност)</th>
            <th>Време</th>
            <th>Създал</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% timezone 'Europe/Sofia' %}
        {% for sample in samples %}
        <tr>
            <td>{{ sample.id }}</td>
            <td>{{ sample.hall }}</td>
            <td>{{ sample.target_temperature }}</td>
            <td>{{ sample.fan_speed }}</td>
            <td>{{ sample.uv_lamp|yesno:"Вкл.,Изкл." }}</td>
            <td>{{ sample.ventilation_on|yesno:"Вкл.,Изкл." }}</td>
            <td>{{ sample.get_cost }}</td>
            <td>{{ sample.created_at }}</td>
            <td>{{ sample.user|default:'Автомат' }}</td>
            <!-- Add more fields as needed -->
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No samples found.</td>
        </tr>
        {% endfor %}
        {% endtimezone %}
    </tbody>
</table>
</div>
{% endblock %}

