{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <div class="card bg-dark text-white border-danger">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Вход в кино Арена</h2>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">Невалидно потребителско име или парола.</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Потребителско име</label>
                    <input type="text" name="username" autofocus required id="id_username" class="form-control bg-dark text-white border-danger">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Парола</label>
                    <input type="password" name="password" required id="id_password" class="form-control bg-dark text-white border-danger">
                </div>
                <button type="submit" class="btn btn-danger w-100">Вход</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}